@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 游ゴシック, Meiryo, sans-serif;
  overflow-x: hidden;
  word-wrap: break-word;
  line-height: 1.42857143;
  color: #333;
  margin: 0;
}

div {
  display: block;
}

iframe {
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
}

embed, iframe, object {
  max-width: 100%;
}

#agent-header-outer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
}

#agent-header-outer {
  position: fixed;
}

.container {
  padding: 0 15px 15px 15px;
}

.container {
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  padding-bottom: 0px;
  position: relative;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.logo-wrap {
  z-index: 4000;
}

.col-xs-20 {
  width: 16.66666667%;
}

.col-lg-80 {
  width: 66.66666667%;
}

.col-xs-120 {
  width: 100%;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16, .col-xs-17, .col-xs-18, .col-xs-19, .col-xs-20, .col-xs-21, .col-xs-22, .col-xs-23, .col-xs-24, .col-xs-25, .col-xs-26, .col-xs-27, .col-xs-28, .col-xs-29, .col-xs-30, .col-xs-31, .col-xs-32, .col-xs-33, .col-xs-34, .col-xs-35, .col-xs-36, .col-xs-37, .col-xs-38, .col-xs-39, .col-xs-40, .col-xs-41, .col-xs-42, .col-xs-43, .col-xs-44, .col-xs-45, .col-xs-46, .col-xs-47, .col-xs-48, .col-xs-49, .col-xs-50, .col-xs-51, .col-xs-52, .col-xs-53, .col-xs-54, .col-xs-55, .col-xs-56, .col-xs-57, .col-xs-58, .col-xs-59, .col-xs-60, .col-xs-61, .col-xs-62, .col-xs-63, .col-xs-64, .col-xs-65, .col-xs-66, .col-xs-67, .col-xs-68, .col-xs-69, .col-xs-70, .col-xs-71, .col-xs-72, .col-xs-73, .col-xs-74, .col-xs-75, .col-xs-76, .col-xs-77, .col-xs-78, .col-xs-79, .col-xs-80, .col-xs-81, .col-xs-82, .col-xs-83, .col-xs-84, .col-xs-85, .col-xs-86, .col-xs-87, .col-xs-88, .col-xs-89, .col-xs-90, .col-xs-91, .col-xs-92, .col-xs-93, .col-xs-94, .col-xs-95, .col-xs-96, .col-xs-97, .col-xs-98, .col-xs-99, .col-xs-100, .col-xs-101, .col-xs-102, .col-xs-103, .col-xs-104, .col-xs-105, .col-xs-106, .col-xs-107, .col-xs-108, .col-xs-109, .col-xs-110, .col-xs-111, .col-xs-112, .col-xs-113, .col-xs-114, .col-xs-115, .col-xs-116, .col-xs-117, .col-xs-118, .col-xs-119, .col-xs-120 {
  float: left;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24, .col-xs-25, .col-sm-25, .col-md-25, .col-lg-25, .col-xs-26, .col-sm-26, .col-md-26, .col-lg-26, .col-xs-27, .col-sm-27, .col-md-27, .col-lg-27, .col-xs-28, .col-sm-28, .col-md-28, .col-lg-28, .col-xs-29, .col-sm-29, .col-md-29, .col-lg-29, .col-xs-30, .col-sm-30, .col-md-30, .col-lg-30, .col-xs-31, .col-sm-31, .col-md-31, .col-lg-31, .col-xs-32, .col-sm-32, .col-md-32, .col-lg-32, .col-xs-33, .col-sm-33, .col-md-33, .col-lg-33, .col-xs-34, .col-sm-34, .col-md-34, .col-lg-34, .col-xs-35, .col-sm-35, .col-md-35, .col-lg-35, .col-xs-36, .col-sm-36, .col-md-36, .col-lg-36, .col-xs-37, .col-sm-37, .col-md-37, .col-lg-37, .col-xs-38, .col-sm-38, .col-md-38, .col-lg-38, .col-xs-39, .col-sm-39, .col-md-39, .col-lg-39, .col-xs-40, .col-sm-40, .col-md-40, .col-lg-40, .col-xs-41, .col-sm-41, .col-md-41, .col-lg-41, .col-xs-42, .col-sm-42, .col-md-42, .col-lg-42, .col-xs-43, .col-sm-43, .col-md-43, .col-lg-43, .col-xs-44, .col-sm-44, .col-md-44, .col-lg-44, .col-xs-45, .col-sm-45, .col-md-45, .col-lg-45, .col-xs-46, .col-sm-46, .col-md-46, .col-lg-46, .col-xs-47, .col-sm-47, .col-md-47, .col-lg-47, .col-xs-48, .col-sm-48, .col-md-48, .col-lg-48, .col-xs-49, .col-sm-49, .col-md-49, .col-lg-49, .col-xs-50, .col-sm-50, .col-md-50, .col-lg-50, .col-xs-51, .col-sm-51, .col-md-51, .col-lg-51, .col-xs-52, .col-sm-52, .col-md-52, .col-lg-52, .col-xs-53, .col-sm-53, .col-md-53, .col-lg-53, .col-xs-54, .col-sm-54, .col-md-54, .col-lg-54, .col-xs-55, .col-sm-55, .col-md-55, .col-lg-55, .col-xs-56, .col-sm-56, .col-md-56, .col-lg-56, .col-xs-57, .col-sm-57, .col-md-57, .col-lg-57, .col-xs-58, .col-sm-58, .col-md-58, .col-lg-58, .col-xs-59, .col-sm-59, .col-md-59, .col-lg-59, .col-xs-60, .col-sm-60, .col-md-60, .col-lg-60, .col-xs-61, .col-sm-61, .col-md-61, .col-lg-61, .col-xs-62, .col-sm-62, .col-md-62, .col-lg-62, .col-xs-63, .col-sm-63, .col-md-63, .col-lg-63, .col-xs-64, .col-sm-64, .col-md-64, .col-lg-64, .col-xs-65, .col-sm-65, .col-md-65, .col-lg-65, .col-xs-66, .col-sm-66, .col-md-66, .col-lg-66, .col-xs-67, .col-sm-67, .col-md-67, .col-lg-67, .col-xs-68, .col-sm-68, .col-md-68, .col-lg-68, .col-xs-69, .col-sm-69, .col-md-69, .col-lg-69, .col-xs-70, .col-sm-70, .col-md-70, .col-lg-70, .col-xs-71, .col-sm-71, .col-md-71, .col-lg-71, .col-xs-72, .col-sm-72, .col-md-72, .col-lg-72, .col-xs-73, .col-sm-73, .col-md-73, .col-lg-73, .col-xs-74, .col-sm-74, .col-md-74, .col-lg-74, .col-xs-75, .col-sm-75, .col-md-75, .col-lg-75, .col-xs-76, .col-sm-76, .col-md-76, .col-lg-76, .col-xs-77, .col-sm-77, .col-md-77, .col-lg-77, .col-xs-78, .col-sm-78, .col-md-78, .col-lg-78, .col-xs-79, .col-sm-79, .col-md-79, .col-lg-79, .col-xs-80, .col-sm-80, .col-md-80, .col-lg-80, .col-xs-81, .col-sm-81, .col-md-81, .col-lg-81, .col-xs-82, .col-sm-82, .col-md-82, .col-lg-82, .col-xs-83, .col-sm-83, .col-md-83, .col-lg-83, .col-xs-84, .col-sm-84, .col-md-84, .col-lg-84, .col-xs-85, .col-sm-85, .col-md-85, .col-lg-85, .col-xs-86, .col-sm-86, .col-md-86, .col-lg-86, .col-xs-87, .col-sm-87, .col-md-87, .col-lg-87, .col-xs-88, .col-sm-88, .col-md-88, .col-lg-88, .col-xs-89, .col-sm-89, .col-md-89, .col-lg-89, .col-xs-90, .col-sm-90, .col-md-90, .col-lg-90, .col-xs-91, .col-sm-91, .col-md-91, .col-lg-91, .col-xs-92, .col-sm-92, .col-md-92, .col-lg-92, .col-xs-93, .col-sm-93, .col-md-93, .col-lg-93, .col-xs-94, .col-sm-94, .col-md-94, .col-lg-94, .col-xs-95, .col-sm-95, .col-md-95, .col-lg-95, .col-xs-96, .col-sm-96, .col-md-96, .col-lg-96, .col-xs-97, .col-sm-97, .col-md-97, .col-lg-97, .col-xs-98, .col-sm-98, .col-md-98, .col-lg-98, .col-xs-99, .col-sm-99, .col-md-99, .col-lg-99, .col-xs-100, .col-sm-100, .col-md-100, .col-lg-100, .col-xs-101, .col-sm-101, .col-md-101, .col-lg-101, .col-xs-102, .col-sm-102, .col-md-102, .col-lg-102, .col-xs-103, .col-sm-103, .col-md-103, .col-lg-103, .col-xs-104, .col-sm-104, .col-md-104, .col-lg-104, .col-xs-105, .col-sm-105, .col-md-105, .col-lg-105, .col-xs-106, .col-sm-106, .col-md-106, .col-lg-106, .col-xs-107, .col-sm-107, .col-md-107, .col-lg-107, .col-xs-108, .col-sm-108, .col-md-108, .col-lg-108, .col-xs-109, .col-sm-109, .col-md-109, .col-lg-109, .col-xs-110, .col-sm-110, .col-md-110, .col-lg-110, .col-xs-111, .col-sm-111, .col-md-111, .col-lg-111, .col-xs-112, .col-sm-112, .col-md-112, .col-lg-112, .col-xs-113, .col-sm-113, .col-md-113, .col-lg-113, .col-xs-114, .col-sm-114, .col-md-114, .col-lg-114, .col-xs-115, .col-sm-115, .col-md-115, .col-lg-115, .col-xs-116, .col-sm-116, .col-md-116, .col-lg-116, .col-xs-117, .col-sm-117, .col-md-117, .col-lg-117, .col-xs-118, .col-sm-118, .col-md-118, .col-lg-118, .col-xs-119, .col-sm-119, .col-md-119, .col-lg-119, .col-xs-120, .col-sm-120, .col-md-120, .col-lg-120 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

#logo_image {
  top: 0px;
  left: 0px;
  display: table;
  margin-top: 11px;
  width: 100%;
  max-width: 180px;
  height: 90px;
}

#logo_image h1#logo {
  display: table-cell;
  vertical-align: middle;
}

h1, .h1 {
  font-size: 36px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  -webkit-margin-before: 0.67em;
          margin-block-start: 0.67em;
  -webkit-margin-after: 0.67em;
          margin-block-end: 0.67em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.agent-header-menu, .footer-menu {
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'arial';
  font-weight: bold;
}

.agent-header-menu {
  min-height: 112px;
}

.navbar-default {
  background: transparent;
  border: 0px solid transparent;
}

.navbar {
  border-radius: 4px;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
}

.navbar-header {
  float: left;
}

.link-button-azure_top, .link-button-azure_btm {
  background-color: #F5B92F !important;
  z-index: 2000;
  position: relative;
  right: 67px;
  display: inline-block;
  margin: 32px 0 32px 0;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 14px 20px 12px;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.link-button-azure_top .btn_lavel, .link-button-azure_btm .btn_lavel {
  margin-right: 25px;
}

.arrow_ico1, .arrow_ico2 {
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.navbar-toggle {
  border: 0px solid transparent;
  margin-top: 34px;
  width: 42px;
  display: none;
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border-radius: 4px;
}

@media screen and (max-width: 960px) {
  .navbar-toggle {
    display: block;
  }
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button, select {
  text-transform: none;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

#logo_image h1#logo img {
  max-width: inherit;
}

a img {
  opacity: 1;
  -webkit-transition: opacity .35s;
  transition: opacity .35s;
}

.mobile_nav_wapper {
  position: fixed;
  top: 90px;
}

.mobile_nav_wapper {
  z-index: 99999;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.hidden-lg {
  display: none !important;
}

.navbar-collapse.collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-collapse {
  width: auto;
  border-top: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-right: 15px;
  padding-left: 15px;
}

.pt0 {
  padding-top: 0 !important;
}

.navbar-nav {
  float: left;
  margin: 0;
}

.nav {
  padding-left: 0;
  list-style: none;
}

ul {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.navbar-nav > li {
  float: left;
}

.nav > li {
  position: relative;
  display: block;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.navbar-nav > .menu-item > a {
  margin-top: 34px;
  background: none;
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.dropdown-menu {
  background-color: #F5B92F;
  color: white;
  padding: 0px;
  border: none;
  border-radius: 0px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-clip: padding-box;
}

ul ul {
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

.dropdown-menu li {
  margin-top: 0px;
}

.dropdown-menu .active a {
  background-color: transparent;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
}

.dropdown-menu li a {
  margin-top: 0px;
  padding: 14px 20px 14px 20px;
  color: white;
}

.dropdown-menu > li > a {
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  white-space: nowrap;
}

p {
  word-wrap: break-word;
  margin: 0 0 10px;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.lp_body {
  font-family: "小塚ゴシック Pro", "游ゴシック", "Meiryo", sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

.w_code_head {
  background: url(https://wonderful-wife.net/wp-content/themes/agent_tcd033/img/w_code/head_bg.jpg) no-repeat center center;
  background-size: cover;
  margin: -20px 0 0;
  padding: 160px 0 0;
}

.lpwrap {
  max-width: 1100px;
  width: 94%;
  margin: 0 auto;
}

.w_code_head_unit {
  border: 6px solid #000;
  border-radius: 20px;
  background: #fff;
  padding: 2em 1em;
  width: 100%;
  max-width: 700px;
  text-align: center;
  color: #131d34;
  font-size: 16px;
  margin: 0 auto 2em;
}

h1.w_code_head_ttl {
  font-size: 38px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

.w_code_head_ttls {
  margin: 0 0 1em;
}

.w_code_head_txt01 {
  font-size: 22px;
}

.w_code_head_txt02 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: bold;
}

.yellow_line {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #f9ff10));
  background: linear-gradient(transparent 60%, #f9ff10 60%);
}

.w_code_head_btn01 {
  background: #009bcf;
  display: block;
  color: #fff;
  padding: 1em 1em;
  max-width: 560px;
  width: 94%;
  margin: 1em auto 0;
  border-radius: 4px;
}

a {
  color: #337ab7;
  color: #000000;
  text-decoration: none;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  background-color: transparent;
}

a:-webkit-any-link {
  cursor: pointer;
}

.warning {
  text-align: center;
  font-size: 0.8em;
}

.only_pc {
  display: block;
}

.w_code_head_list {
  text-align: center;
  color: #fff;
  max-width: 800px;
  margin: 0 auto -80px;
}

.w_code_head_list div {
  width: 32%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.w_code_headtxt {
  background: #000;
  color: #fff;
  padding: 140px 0 3em;
}

.w_code_headtxt_inner {
  max-width: 800px;
}

.only_sp {
  display: none;
}

.w_code_headtxt_ttl {
  text-align: center;
  border-bottom: 1px solid #ffffff;
  font-size: 26px;
  font-weight: normal;
  padding: 0 0 0.2em;
  margin: 0 0 0.5em;
}

@media screen and (max-width: 960px) {
  .container {
    width: 960px;
  }
  .hidden-md {
    display: none !important;
  }
  .navbar-header {
    float: none;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .agent-header-menu {
    min-height: 90px;
  }
  .w_code_head_list {
    padding: 2em 0;
    background: #000;
    color: #fff;
    max-width: 980px;
    margin-left: 0;
    margin-right: 0;
  }
  .justify {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .w_code_head {
    margin: 0 0 0;
    padding: 100px 0 2em;
  }
}

@media screen and (max-width: 960px) {
  #logo_image {
    margin-top: 0px;
  }
  #agent-header-outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */